.contact_info {
    margin: 50px auto;
    border-top: 3px solid #d6d6d6;
    width: 400px;
    height: 260px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px -3px rgba(0,0,0,0.75);
}
.contact_info section.icons,section.image {
    display: inline-block;
}
.contact_info section.icons {
    float: left;
    margin-top: 25px;
}
.contact_info section.icon {
    background-color: #f9f9f9;
    text-align: center;
    padding: 10px;
    border-radius: 2px;
    margin: 10px;
    -webkit-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px -3px rgba(0,0,0,0.75);
}
.contact_info section.image {
    float: right;
    margin-top: 5px;
    margin-right: 35px;
}
.contact_info .image img {
    height: 240px;
    width: 180px;
    border-top-right-radius: 13px;
    position: relative;
    -webkit-box-shadow: -4px 4px 0px 4px #AD0202;
    box-shadow: -4px 4px 0px 4px #AD0202;
}






/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* CSS RESET END */